{% extends "alpha/base.html" %}

{% block title %}
    Alpha
{% endblock %}

{% block alpha_head %}
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/alpha/index.css') }}"-->
{% endblock %}

{% block alpha_center %}
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
{% endblock %}

{% block alpha_body %}
    <!--script src="{{ url_for('static', filename='js/alpha/index.js') }}"></script-->
{% endblock %}