#top {
    background-color: black;
    border: 1px solid white;
    color: white
}

#left {
    background-color: black;
    border: 1px solid white;
    color: white
}

#right {
    background-color: black;
    border: 1px solid white;
    color: white
}

#bottom {
    background-color: black;
    border: 1px solid white;
    color: white
}