{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block center %}
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
{% endblock %}

{% block body %}
    <!--script src="{{ url_for('static', filename='js/index.js') }}"></script-->
{% endblock %}