{% extends "base.html" %}

{% set title = "Index" %}

{#% set stylesheets = (url_for('static', filename='css/index.css'),) %#}

{% block center %}
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
    <p>This is content specific to root index page.</p>
{% endblock %}

{#% set scripts = (url_for('static', filename='js/index.js'),) %#}